*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, select, textarea{
    font-family: 'Poppins', sans-serif;
    

}

/**/

body{
    background-color: #EFEFEF;
}

body::before{
    content: '';
    width: 100%;
    height: 436px;
    background-color: #535971;                     

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#pagina{
    width: 750px;
    margin: 0 auto;
}

header{
    width: 350px;
    margin-top: 140px;
    
}

header h1{
    font-family: 'Staatliches', cursive;
    color: #FFF;
    size: 48px;
    margin-bottom: 18px;
}

header p {
    color: #FFF;
    font-size: 20px;
}

form {
    margin-top: 58px;
    padding: 64px;
    border-radius: 20px 20px 0 0;
    background-color: #FFF;

    display: flex;
    flex-direction: column;
    gap: 30px;

}

fieldset {
    border: none;
}

.fieldset-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

fieldset legend{
    font-family: 'Staatliches', cursive;
    font-size: 24px;
    line-height: 34px;
    border-bottom: 1px solid #E6E6F0;
    padding-bottom: 16px;
    margin-bottom: 32px;
}

.duas-colunas, .tres-colunas{
    display: flex;
    gap: 22px;  
     
}

/*nth-of-type seleciona elementos irmão do mesmo tipo
* Ex. abaixo temos duas divs irmãs 
* selecionamos a primeira com div:nth-of-type(1) para
* adicionar flex-grow(crescimento flexível )
* 
*flex-grow - especifica o quanto o item crescerá em relação 
* aos demais item flexíveis dentro do mesmo container
* no caso abaixo, cada elemento dentro do container ocupará 
* o mesmo tamanho (cada um com metado do container pai)
*/

.duas-colunas div:nth-of-type(1){
    flex-grow: 1;
}
.duas-colunas div:nth-of-type(2){
    flex-grow: 1;
}


.tres-colunas div:nth-of-type(1){
    flex-grow: 2;
}
.tres-colunas div:nth-of-type(2){
    flex-grow: 1;
}
.tres-colunas div:nth-of-type(3){
    flex-grow: 1;
}


.input-container{
    display: flex;
    flex-direction: column;   
}

.input-container label{
    font-size: 14px;
    line-height: 24px;
    color: #4E4958;
    margin-bottom: 8px;
}

.input-container label span{
    font-size: 12px;
    line-height: 20px;
    color: #817d88;
}


.input-container input {
    height: 56px;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    background-color: #FAFAFC;
    padding: 0 16px;
    font-size: 16px;
}

.sub-legenda {
    font-size: 20px;
    border: 0;
    margin-bottom: 8px;
}

.sub-fieldset legend{
    margin-bottom: 11px;
    padding: 0;
}


footer {
    height: 160px;
    background-color: #535971;
    margin-bottom: 100px;
    border-radius: 0 0 20px 20px;
    padding: 51px 71px;
    display: flex;
    flex-direction: column;
}

footer button {
    height: 55px;
    border-radius: 20px;
    background-color: #FF5374;
    color: #FFF;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
    border: 0;
    transition: 0.3s;
    cursor: pointer;
}

footer button:hover{
    background-color: #c3415b;
}